{% set looks = [] %}

{% for i in 1..12 %}
    {% set desc_img = attribute(settings, 'desc_'~i~'_img') %}
    {% set link_instagram = attribute(settings, 'link_'~i~'_instagram') %}
    {% set img_cliente = attribute(settings, 'img_'~i~'_cliente') %}

    {% if img_cliente %}
        {% set looks = looks|merge([{ "desc_img": desc_img, "img_cliente": img_cliente, "link_instagram": link_instagram }]) %}
    {% endif %}
{% endfor %}
{% if looks|length %}
    <div class="looks-bybeach container">
        <div class="dep-wrraper">
            {% if settings.steal_look_custom_home_title_page %}
                <div class="title-looks">
                    <span class="title">{{ settings.steal_look_custom_home_title_page }}</span>
                    <span class="subtitle">{{ settings.steal_look_custom_home_subtitle_page }}</span>
                </div>
            {% endif %}
            <div class="swiper-container-looks">
                <div class="swiper-wrapper">
                    {% for x in looks %}
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="top-item">
                                    <img class="img-item" src="{{ asset(x.img_cliente) }}" alt="{{ x.desc_img }}" loading="lazy">
                                </div>
                                <div class="bottom-item">
                                    <div class="infs-item">
                                        <div class="cliente-name-item">
                                            <span>{{ x.link_instagram }}</span>
                                        </div>
                                    </div>
                                    <div class="prod-link-item">
                                        <button class="btn-link-prod-item">Eu Quero</button>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>    
        </div>    
    </div>
{% endif %}
    <dialog class="modal-depomento"> <!-- Esse modal ainda estar em desenvolvimento -->
        <div class="modal-deps">
            <div class="left-modal">
                <div class="modal-left-wrraper">
                    <div class="imagens-looks">
                        <img src="{{ asset('img/testeimg/3.png') }}" alt="" class="imgs-modal">
                    </div>
                    <div class="bottom-item">
                        <div class="infs-item">
                            <div class="cliente-name-item">
                                <span> Wagner Inácio</span>
                                <img src="{{ asset('img/verification-bybeach.png') }}" alt="">
                            </div>
                            <div class="cliente-desc-item"> Estou encantado com o bybeach. Nunca imaginei que iria me adaptar a usar um protetor facial. Quando espa.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-modal">
                <div class="top-right-modal">
                    <div class="modal-right-wrraper">
                        <img src="{{ asset('img/testeimg/_1.png') }}" alt="" class="imgs-modal">
                        <img src="{{ asset('img/testeimg/_2.png') }}" alt="" class="imgs-modal">
                        <img src="{{ asset('img/testeimg/_3.png') }}" alt="" class="imgs-modal">
                    </div>
                    <div class="bottom-right-modal">
                        <div class="right-grup-top">
                            <div class="name-produto">
                                bybeach MAGIC TRIP PROTETOR SOLAR CAPILAR 60 ML
                            </div>
                            <div class="avaliacao-produto"><img src="{{ asset('img/avaliacao_produto.png') }}" alt=""></div>
                        </div>
                        <div class="etiqueta-item">30% OFF</div>
                        <div class="precos-produto">
                            <div class="preco-off">
                                R$ 110,99
                            </div>    
                            <div class="price-produto">
                                R$ 99,99
                            </div>
                            <div class="parcelamento-preco">
                                10x de R$ 9,99 a vista
                            </div>
                        </div>
                        <div class="btn-comprar-produto">
                           <button>Ver Produto</button> 
                        </div>
                        <div class="descricao-produto">
                            <div class="desc-titulo-produto">Descrição</div>
                            <span class="desc-produto">Esse produto é de muita qualidade, porudto de execletne qualidade, produto muit bom mesmo.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form method="dialog"><button><div class="fechar-modal"></div>X</button></form>
    </dialog>
</div>


<style> /* Css do modal - ainda em desenvolvimento */
    dialog.modal-depomento {
        position: fixed;
        /* width: 100vw; */
        top: 0;
        /* left: 0; */
        bottom: 0;
        right: 0;
        margin: auto;
        /* height: 100vh; */
        z-index: 99;
        border: 1px solid #00b7cd;
    }
    .modal-deps {
        display: flex;  
        width: 940px;
        margin: auto;
        height: 600px;
        z-index: 99;
        position: relative;
        background-color: #fff;
    }
    dialog.modal-depomento form {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 98;
        background-color: rgba(0, 0, 0, 0.7);
    }
    dialog.modal-depomento form button {
        width: 100%;
        height: 100%;
        background: transparent;
    }
    .fechar-modal {
        width: 100%;
        height: 100%;
    }
    /*informações do modal */
    .modal-right-wrraper {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
    .descricao-produto {
        margin-top: 16px;
    }
    .left-modal {
        max-width: 313px;
        border: 1px solid #ccc;
    }
    .descricao-produto .desc-titulo-produto {
        width: 100%;
        background: #ccc4;
        font-weight: 600;
        padding: 6px 6px 6px 30px;
    }
    span.desc-produto {
        display: block;
        width: 100%;
        padding: 30px;
        font-weight: 500;
    }
    .right-grup-top {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        align-items: center;
    }
    .precos-produto {
        display: flex;
        padding: 0 30px 30px;
        flex-direction: column;
    }
    .preco-off {
        font-size: 14px;
        text-decoration: line-through;
        color: #aaa;
    }
    .price-produto {
        font-size: 20px;
    }
    .parcelamento-preco {
        font-size: 15px;
        font-weight: 600;
    }
    .btn-comprar-produto {
        padding-left: 30px;
    }
    .btn-comprar-produto button {
        padding: 10px;
        background: #00b7cd;
        width: 300px;
        border-radius: 5px;
        font-size: 18px;
        color: #fff;
    }
</style>
